.project-section {
  text-align: center;
  margin-bottom: 50px;
  .container {
    h4 {
      padding: 0;
      font-size: 2.5em;
      font-weight: bold;
    }
    .slider-row {
      .project {
        text-align: center;
        img {
          width: 100%;
          border-bottom: 1px solid #e4e4e4;
          border-radius: 5px 5px 0 0;
        }
        h6 {
          font-weight: bold;
          padding: 0;
          font-size: 20px;
        }
        .desc {
          height: 7em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        ul {
          height: 5em;
        }
        .links {
          margin-bottom: 10px;

          span {
            a {
              text-decoration: none;
              color: #ffffff;
              font-weight: bold;
            }
          }
        }
      }
    }
    .tnc {
      font-size: 12px;
      font-style: italic;
    }
  }
}
@media only screen and (min-width: 768px) {
  .project-section {
    .container {
      .slider-row {
        .slick-slider {
          &.personal {
            .slick-slide {
              border: 1px solid #e4e4e4;
              border-radius: 5px;
              float: left;
              width: 31.5% !important;
              margin: 5px;
            }
          }
          &.client {
            .slick-slide {
              border: 1px solid #e4e4e4;
              border-radius: 5px;
              width: 48% !important;
              float: left;
              margin: 5px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .project-section {
    .container {
      padding: 0;
      width: 100%;
      .slider-row {
        padding: 0 0 0 10px;
        .slick-slider {
          .slick-arrow {
            display: none !important;
          }
          .slick-list {
            padding: 0 !important;
            .slick-track {
              display: flex;
            }
          }
          &.slick-initialized {
            .slick-slide {
              // border-right: 5px solid #ffffff;
              background: #000000;
              border-right: 5px solid #302e30;
              margin: 0 0px;
              height: inherit;
              float: left;
              width: 30%;
              .project {
                padding: 0;
                text-align: left;
                .desc {
                  font-size: 16px;
                  display: block;
                }
                .chip {
                  font-size: 12px;
                  font-weight: bold;
                  background: #ffffff;
                }
                .links {
                  a {
                    // border: 1px solid #4eacfe;
                    border: 2px solid #ffffff;
                    background: transparent;
                    // background: #4eacfe;
                    color: #ffffff;
                    padding: 10px;
                    margin: 0 5px 10px 5px;
                    width: 45%;
                    float: left;
                    text-align: center;
                    border-radius: 5%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .project-section {
    .container {
      .slider-row {
        .slick-slider {
          &.personal {
            .slick-list {
              .slick-track {
                .slick-slide {
                  // height: 450px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .project-section {
    .container {
      .slider-row {
        .slick-slider {
          &.personal {
            .slick-list {
              .slick-track {
                .slick-slide {
                  width: 48% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
