.intro-section{
  background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%);
  padding: 0;

  h1{
    margin-bottom: 5px;
    font-weight: bold;
  }
  h3{
    font-style: italic;
    margin: 0;;
  }
  .profile-pic{
    img{
      border-radius: 50%;
      margin: 2.8rem 0 1.68rem 0;
      width: 100%;
    }
  }
  .contact-details{
    margin: 20px 0 0 0;
    .col{
      margin-bottom: 20px;
      a{
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: left;

        svg{
          margin-right: 8px;
          font-size: 28px;
        }
        span{
          font-size: 20px;
        }
      }
    }
  }
  .desc {
    padding: 20px 0;
    text-align: center;
    p{
      font-size: 18px;
    }
  }
}
@media only screen and (max-width: 768px) {

  .intro-section{
    background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%);
    padding: 0;
  
    h1{
      font-size: 3.0em;
      text-align: center;
      margin: 10px 0;
    }
    h3{
      text-align: center;
      font-size: 2.0em;
      margin: 0 0 26px 0;
    }
    .profile-pic{
      text-align:center;
      img{
        margin: 30px 0 0 0;
        width: 80% !important;
      }
    }
    .contact-details{
      padding: 0;
      .col{
        margin: 0 0 10px 0;
        padding: 0 5px;
        a{
          width: 100%;
          order: none;
          border-radius: 5px;
          justify-content: center;
          text-align: center;
          line-height: 36px;
          padding: 10px 16px;
          vertical-align: middle;
          -webkit-tap-highlight-color: transparent;
          background: #ffffff;
        }
      }
    }
    .desc {
      padding: 0 20px;
      p{
        font-size: 18px;
        text-align: justify;
      }
    }
  }
}
@media only screen and (max-width: 999px) {

  .intro-section{
    .profile-pic{
      text-align: center;
      img{
        width: 40%;
      }
      h1{
        text-align: center;
      }
      h3{
        text-align: center;
      }
    }
  }
}




.skills-section{
  text-align: center;
  // background-image: linear-gradient(to top, #4facfe 0%, #ffffff 100%);
  h4{
    padding: 0;
    font-size: 2.5em;
    font-weight: bold;
  }
  h6{
    padding: 20px 0 10px 0;
    font-weight: 600;
    font-size: 18px;
  }
  .chip {
    color: #333333;
    font-size: 14px;
    svg{
      font-size: 16px;
    }
  }
}
.project-section{
  text-align: center;
  // background-image: linear-gradient(to top, #4facfe 0%, #ffffff 100%);
  h4{
    padding: 0;
    font-size: 2.5em;
    font-weight: bold;
  }
  h6{
    padding: 20px 0 10px 0;
    font-weight: 600;
    font-size: 18px;
  }
  .project{
    text-align: left;
    h6{
      font-weight: bold;
      padding: 0;
      font-size: 20px;
    }
    .desc{}
    .links{
      span{
        a{
          text-decoration: none;
          color: #333333;
          font-weight: bold;
        }
      }
    }
  }
  .tnc{
    font-size: 12px;
    font-style: italic;
  }
}

@media only screen and (max-width: 768px) {
  .project-section{
    .project{
      text-align: center;
      .links{
        span{
          a{
            text-decoration: none;
            color: #333333;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.work-section{
  .work{
    padding: 0;
    margin: 0;
    .position{
      font-weight: bold;
      font-size: 17px;
    }
    .duration{
      font-size: 16px;
    }
    .company{
      font-weight: bold;
    }
    .location{
      font-size: 16px;
      font-style: italic;

    }
    .desc{
      ul{
        list-style-type: initial;
        margin: 10px 0 25px 30px;
        li{
          list-style-type: initial;
          
        }
      }
    } 
  }
}
.school-section{
  // background-image: linear-gradient(to top, #4facfe 0%, #ffffff 100%);
  .school{
    .grad-year{
      font-weight: bold;
      font-size: 16px;
    }
    .field{
      font-size: 16px;
      font-weight: bold;
    }
    .name{
      font-size: 16px;
    }
    .location{
      font-size: 16px;
      font-style: italic;
    }

  }

}

