body{
  background: #302E30;
  color: #ffffff;
}
footer{
  background-image: linear-gradient(to top, #0e1025 0%, #373447 100%);
  a{
    color: #ffffff;
    font-weight: bold;
    .btn-floating{
      background: #ffffff;
      color: #0e1025;
    }
  }
  .footer-copyright{
    font-weight: bold;
  }
}
@media only screen and (max-width: 768px) {
  html, body{
    overflow-x: hidden;
  }
  footer{
    a{
      svg{
        font-size: 1.5em !important;
        vertical-align: -0.2em !important;
      }
    }
  }
}
@import 'sass/intro';
@import 'sass/skills';
@import 'sass/project';
@import 'sass/work';
@import 'sass/school';
